NEXT_PUBLIC_FIREBASE_API_KEY=tu_wklej_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tu_wklej_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tu_wklej_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tu_wklej_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=tu_wklej_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=tu_wklej_app_id
